@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.white');
  --foreground: theme('colors.slate.950');

  &.dark {
    --background: theme('colors.slate.950');
    --foreground: theme('colors.slate.100');
  }
}

.toggle-button {
  @apply rounded-full bg-purple-500 p-3 border-none flex items-center justify-center w-auto mx-auto cursor-pointer;
 
  &:hover {
    @apply bg-purple-400;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: theme('colors.slate.950');
    --foreground: theme('colors.slate.100');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
