@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: slate-950;

  &.dark {
    background-color: slate-950;
    color: slate-100;
  };
}

.toggle-button {
  border-radius: 999px;
  background-color: purple-500;
  padding: 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  cursor: pointer;
 
  &:hover {
    background-color: purple-400;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
